In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df_books = pd.read_csv('data/BX-Books.csv', sep=";", on_bad_lines='skip', encoding='latin-1')

C:\Users\nikil\AppData\Local\Temp\ipykernel_7224\5693636.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books = pd.read_csv('data/BX-Books.csv', sep=";", on_bad_lines='skip', encoding='latin-1')

In [7]:
df_books.head(1)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...

In [8]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [9]:
df_books.describe()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
count,271360,271360,271358,271360,271358,271360,271360,271357
unique,271360,242135,102022,202,16807,271044,271044,271041
top,0195153448,Selected Poems,Agatha Christie,2002,Harlequin,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/225307649X.0...
freq,1,27,632,13903,7535,2,2,2

In [11]:
df_books.shape

(271360, 8)

In [12]:
df_books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [13]:
#Take needed columns
df_books = df_books[['ISBN','Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','Image-URL-L']]

In [14]:
df_books.rename(columns={"Book-Title":'title',
                      'Book-Author':'author',
                     "Year-Of-Publication":'year',
                     "Publisher":"publisher",
                     "Image-URL-L":"image_url"},inplace=True      
                )

In [15]:
df_books.columns

Index(['ISBN', 'title', 'author', 'year', 'publisher', 'image_url'], dtype='object')

In [16]:
df_users = pd.read_csv('data/BX-Users.csv', sep=";", on_bad_lines='skip', encoding='latin-1')

In [17]:
df_users.head(1)

   User-ID            Location  Age
0        1  nyc, new york, usa  NaN

In [18]:
df_users.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

In [19]:
df_users.rename(columns={"User-ID":'user_id',
                      'Location':'location',
                     "Age":'age'},inplace=True)

In [20]:
df_ratings = pd.read_csv('data/BX-Book-Ratings.csv', sep=";", on_bad_lines='skip', encoding='latin-1')

In [21]:
df_ratings.head(1)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0

In [24]:
print(df_ratings.shape)
print(df_users.shape)
print(df_books.shape)

(1149780, 3)
(278858, 3)
(271360, 6)

In [25]:
df_ratings.rename(columns={"User-ID":"user_id",
                           "Book-Rating":"rating"},inplace=True)

In [26]:
df_ratings.columns

Index(['user_id', 'ISBN', 'rating'], dtype='object')

In [30]:
df_ratings.shape

(1149780, 3)

In [29]:
#Lets seqregate users where they have rated minimum of 50 books
(df_ratings['user_id'].value_counts() > 50).shape

(105283,)

In [34]:
x = df_ratings['user_id'].value_counts() > 50

In [35]:
x[x].shape

(3371,)

In [37]:
y= x[df_ratings['user_id'].value_counts() > 50].index

In [38]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       195079, 239486,  63506, 220911, 187613,  90105, 109040, 137803,  83034,
       190939],
      dtype='int64', name='user_id', length=3371)

In [41]:
df_ratings = df_ratings[df_ratings['user_id'].isin(y)]

In [42]:
df_ratings.shape

(765672, 3)

In [43]:
df_books.head(1)

,ISBN,title,author,year,publisher,image_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...

In [44]:
df_ratings.head(1)

     user_id        ISBN  rating
173   276847  0446364193       0

In [45]:
#join ratings with book
df_ratings.merge(df_books, on='ISBN')

,user_id,ISBN,rating,title,author,year,publisher,image_url
0,276847,0446364193,0,Along Came a Spider (Alex Cross Novels),James Patterson,1993,Warner Books,http://images.amazon.com/images/P/0446364193.0...
1,276847,3379015180,0,Schlafes Bruder,Robert Schneider,1994,"Reclam, Leipzig",http://images.amazon.com/images/P/3379015180.0...
2,276847,3404145909,8,Der Stein der Kelten.,Michael Phillips,2001,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404145909.0...
3,276847,3404148576,8,Nordermoor,Arnaldur Indridason,2003,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404148576.0...
4,276847,3404921178,7,Nur der Tod ist ohne Makel.,Ann Granger,2002,LÃ?Â¼bbe,http://images.amazon.com/images/P/3404921178.0...
...,...,...,...,...,...,...,...,...
700843,276688,0836236688,10,Dilbert: Seven Years Of Highly Defective Peopl...,Scott Adams,1997,Andrews McMeel Publishing,http://images.amazon.com/images/P/0836236688.0...
700844,276688,0892966548,10,Killer Market: A Deborah Knott Mystery (Debora...,Margaret Maron,1997,Warner Books Inc,http://images.amazon.com/images/P/0892966548.0...
700845,276688,1551669315,6,The Third Wife,Jasmine Cresswell,2002,Mira,http://images.amazon.com/images/P/1551669315.0...
700846,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...
700847,276688,1580600506,0,The Fallen Man,Tony Hillerman,1996,HarperCollins,http://images.amazon.com/images/P/1580600506.0...

In [46]:
books_and_rating = df_ratings.merge(df_books, on='ISBN')

In [47]:
books_and_rating.shape

(700848, 8)

In [50]:
#we need to know the number of ratings each book has got
books_and_rating.groupby('title')['rating'].count().sort_values(ascending=False)

title
Wild Animus                                           844
The Lovely Bones: A Novel                             574
The Da Vinci Code                                     445
Bridget Jones's Diary                                 443
The Nanny Diaries: A Novel                            400
                                                     ...
Monster Goes Around the Town                            1
Monster Faces (Sesame Street - Chunky Shape Books)      1
Monster Boy (5th Grade Monsters, No 13)                 1
Monster Blood IV (Goosebumps, No 62)                    1
Prescripton Murder                                      1
Name: rating, Length: 198803, dtype: int64

In [53]:
book_ratings_count = books_and_rating.groupby('title')['rating'].count().reset_index()

In [54]:
book_ratings_count.head(3)

                                               title  rating
0   A Light in the Storm: The Civil War Diary of ...       4
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1

In [55]:
book_ratings_count.rename(columns={'rating':'count_of_rating'},inplace=True)

In [56]:
book_ratings_count.head(3)

                                               title  count_of_rating
0   A Light in the Storm: The Civil War Diary of ...                4
1                              Always Have Popsicles                1
2               Apple Magic (The Collector's series)                1

In [59]:
#merge with books and rating

final_ratings = books_and_rating.merge(book_ratings_count,on='title')

In [60]:
final_ratings.head(1)

,user_id,ISBN,rating,title,author,year,publisher,image_url,count_of_rating
0,276847,0446364193,0,Along Came a Spider (Alex Cross Novels),James Patterson,1993,Warner Books,http://images.amazon.com/images/P/0446364193.0...,195

In [61]:
final_ratings.shape

(700848, 9)

In [63]:
#lets select books that has got atleast 25 ratings
final_ratings = final_ratings[final_ratings['count_of_rating']>25]

In [64]:
final_ratings.shape

(207945, 9)

In [65]:
#Drop duplicates
final_ratings.drop_duplicates(['user_id','title'],inplace=True)

In [66]:
final_ratings.shape

(204459, 9)

In [68]:
book_pivot = final_ratings.pivot_table(columns='user_id', index='title', values= 'rating')

In [69]:
book_pivot.head(2)

user_id,183,243,254,507,626,638,643,741,882,929,...,277928,277965,278026,278137,278144,278188,278418,278582,278633,278843
title,,,,,,,,,,,,,,,,,,,,,
'Salem's Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10 Lb. Penalty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
book_pivot.shape

(3481, 3266)

In [71]:
book_pivot.fillna(0,inplace=True)

In [73]:
book_pivot.head(2)

user_id,183,243,254,507,626,638,643,741,882,929,...,277928,277965,278026,278137,278144,278188,278418,278582,278633,278843
title,,,,,,,,,,,,,,,,,,,,,
'Salem's Lot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Lb. Penalty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Model Training

In [74]:
from scipy.sparse import csr_matrix

In [75]:
book_sparse = csr_matrix(book_pivot)

In [76]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm= 'kd_tree')

In [105]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm= 'ball_tree')

In [130]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm= 'brute')

In [131]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [132]:
distance, suggestion = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1), n_neighbors=6 )

In [133]:
distance

array([[ 0.        , 24.35159132, 24.51530134, 25.07987241, 25.33771892,
        25.35744467]])

In [134]:
suggestion

array([[ 237, 1604,  899, 1862, 1577, 1996]], dtype=int64)

In [135]:
book_pivot.iloc[241,:]

user_id
183       0.0
243       0.0
254       0.0
507       0.0
626       0.0
         ...
278188    0.0
278418    0.0
278582    0.0
278633    0.0
278843    0.0
Name: Apollo 13 : Lost Moon, Length: 3266, dtype: float64

In [136]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['Answered Prayers', 'Moonspun Magic', 'Federation (Star Trek)',
       'People Like Us', 'Miracle', 'Red Square'],
      dtype='object', name='title')

In [137]:
book_names = book_pivot.index

In [138]:
book_names[24]

'A Certain Justice (Adam Dalgliesh Mysteries (Paperback))'

In [139]:
np.where(book_pivot.index == 'A Certain Justice (Adam Dalgliesh Mysteries (Paperback))')[0][0]

24

In [140]:
ids = np.where(final_ratings['title'] == "Apollo 13 : Lost Moon")[0][0]

In [141]:
final_ratings.iloc[ids]['image_url']

'http://images.amazon.com/images/P/0671534645.01.LZZZZZZZ.jpg'

In [142]:
book_name = []
for book_id in suggestion:
    book_name.append(book_pivot.index[book_id])

In [143]:
book_name[0]

Index(['Answered Prayers', 'Moonspun Magic', 'Federation (Star Trek)',
       'People Like Us', 'Miracle', 'Red Square'],
      dtype='object', name='title')

In [144]:
ids_index = []
for name in book_name[0]: 
    ids = np.where(final_ratings['title'] == name)[0][0]
    ids_index.append(ids)

In [145]:
for idx in ids_index:
    url = final_ratings.iloc[idx]['image_url']
    print(url)

http://images.amazon.com/images/P/044023672X.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0451408845.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0671894226.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0553054414.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0553291076.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0345384733.01.LZZZZZZZ.jpg

In [146]:
book_names

Index([''Salem's Lot', '10 Lb. Penalty', '101 Dalmatians',
       '16 Lighthouse Road', '1984', '1st to Die: A Novel',
       '2010: Odyssey Two', '204 Rosewood Lane', '2061: Odyssey Three',
       '24 Hours',
       ...
       'Your Oasis on Flame Lake (Ballantine Reader's Circle)', 'Yukon Ho!',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zia', 'Zlata's Diary: A Child's Life in Sarajevo', 'Zoya',
       '\O\" Is for Outlaw"',
       '\Surely You're Joking, Mr. Feynman!\": Adventures of a Curious Character"',
       'e', 'stardust'],
      dtype='object', name='title', length=3481)

In [147]:
import pickle
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(book_names,open('artifacts/book_names.pkl','wb'))
pickle.dump(final_ratings,open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot,open('artifacts/book_pivot.pkl','wb'))

### Model Testing

In [148]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6 )
    
    for i in range(len(suggestion)):
            books = book_pivot.index[suggestion[i]]
            for j in books:
                if j == book_name:
                    print(f"You searched '{book_name}'\n")
                    print("The suggestion books are: \n")
                else:
                    print(j)

In [150]:
book_name = "Harry Potter and the Chamber of Secrets (Book 2)"
recommend_book(book_name)

You searched 'Harry Potter and the Chamber of Secrets (Book 2)'

The suggestion books are:

Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Sorcerer's Stone (Book 1)
The Secret of the Indian (Indian in the Cupboard)
Before and After